.rq_hooks_global_form h2 aui-spinner {
    display: inline-block;
    margin-left: 10px;
}

.rq_hooks_global_form .rq-progress {
    margin-top: 10px;
}

.rq_hooks_global_form .aui-message {
    padding-left: 20px;
}

.rq_hooks_global_form .aui-message::after {
    content: "";
}
