/target
/*.log
*.iml
.idea
.vim
/.settings
/.project
/.classpath
/bin
/workbench.xmi
/jdt:
batch.js
/docker
/taskutils/nginx.crt
/taskutils/nginx.key
/taskutils/nginx.conf
/.task
/log
/builds
/integration_tests/builds/
/dependency-check
/dependency-check-report.html
/*.jar
